{% extends "::layout.html.twig" %}

{% block body %}
<header>
  <aside>
    <ul class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li>Le <m>festival improbable et intemporel</m></li>
    </ul>
  </aside>
  <h1>Le <m>festival improbable et intemporel</m></h1>
</header>
<div>
  <h1>Un rendez-vous incontournable</h1>

  <p>Le <m>Festival improbable et intemporel</m> s'inscrit parmi les rendez-vous incontournables de l'Alsace. Durant 3 jours, des têtes d'affiche ainsi que des nouveaux talents issus de la scène francophone et internationnale se succèderont sur 2 scènes dans une enceinte comprenant bars et stands de nourriture. Une ambiance unique à Mulhouse !</p>

  <p>Le <m>Festival improbable et intemporel</m> bénéficie d'une réputation affirmée dans le monde, tant par son histoire, son ambiance, que par la qualité de sa programmation. Un festival chéri par les artistes qui apprécient particulièrement la proximité avec le public. Vivez un rendez-vous unique et original durant ces quelques jours, où Mulhouse vibrera au rythme de la musique !</p>
  
  <h1>Les débuts</h1>

  <p>Le <m>Festival improbable et intemporel</m> a vu le jour au début du 20ème siècle dans le petit village de Niederbrück dans la vallée de Masevaux. L'idée de ce <m>festival improbable et intemporel</m> est né un 1er juin alors que Jules Rivière écoutait les oiseaux chanter dans son jardin.</p>
  
  <h1>Le site</h1>

  <p>C'est dans un écrin de verdure qu'a lieu le festival. Entre le Rhin et la fôret verte, le site est absolument remarquable et propose de nombreux espaces...</p>
  
  <h2>De nombreuses animations</h2>

  <p>Tout au long de ces 3 jours de festival, vous pourrez voir de nombreux spectacles et animations:</p>
  <ul>
    <li>Pièces de théâtre</li>
    <li>musique expérimentale</li>
    <li>cinéma en plein air</li>
    <li>bricolages</li>
    <li>cuisine d'herbes sauvages...</li>
  </ul>
  
  <h2>Un camping</h2>

  <p>Pour ceux qui viennent de loin, il est possible de dormir au camping du Festival à 10 minutes du lieu du Festival. Des navettes gratuites circuleront toute la nuit.</p>
</div>
{% endblock %}