{% extends "::layout.html.twig" %}

{% block body %}
  <ul data-slide="true">
  {% for i, item in slide %}
    <li {{ i ? 'style="display: none"' : ''}}><img src="{{asset(item)}}" /></li>
  {% endfor %}
  </ul>

  <hr />

  <p class="text-align: center">
    Adresse GitHub du projet <code><a href="https://github.com/Thiktak/EnsisaFestival" data-target="github">https://github.com/Thiktak/EnsisaFestival</a></code>
  </p>
{% endblock %}