{% extends "::layout.html.twig" %}

{% block body %}
<header>
  <aside>
    <ul class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li>Informations pratiques</li>
    </ul>
  </aside>
  <h1>Informations pratiques</h1>
</header>
<div>
  <h1>Lieu du festival</h1>

  Le festival aura lieu cette année au Noumatrouf.

  <address>FEDERATION HIERO – NOUMATROUFF<br />
  57, rue de la Mertzau<br />
  68063 MULHOUSE CEDEX<br />
  Tél : 03 89 32 94 10</address>

  <div id="addr" data-addr="http%3A%2F%2Fmaps.google.fr%2Fmaps%3Ff%3Dq%26amp%3Bsource%3Ds_q%26amp%3Bhl%3Dfr%26amp%3Bgeocode%3D%26amp%3Bq%3DFEDERATION%2BHIERO%2B%25E2%2580%2593%2BNOUMATROUFF%2B57%2C%2Brue%2Bde%2Bla%2BMertzau%2B68063%2BMULHOUSE%2BCEDEX%26amp%3Baq%3D%26amp%3Bsll%3D47.760933%2C7.334348%26amp%3Bsspn%3D0.00828%2C0.021136%26amp%3Bg%3D57%2C%2Brue%2Bde%2Bla%2BMertzau%2B68063%2BMULHOUSE%2BCEDEX%26amp%3Bie%3DUTF8%26amp%3Bhq%3DFEDERATION%2BHIERO%2B%25E2%2580%2593%2BNOUMATROUFF%2B57%2C%2Brue%2Bde%2Bla%2BMertzau%2B68063%2BMULHOUSE%2BCEDEX%26amp%3Bhnear%3D%26amp%3Bradius%3D15000%26amp%3Bt%3Dm%26amp%3Bcid%3D6684679149735206464%26amp%3Bll%3D47.771407%2C7.336035%26amp%3Bspn%3D0.02019%2C0.036478%26amp%3Bz%3D14%26amp%3Biwloc%3DA%26amp%3Boutput%3Dembed%22%3E%3C%2Fiframe%3E%3Cbr+%2F%3E%3Csmall%3E%3Ca+href%3D%22http%3A%2F%2Fmaps.google.fr%2Fmaps%3Ff%3Dq%26amp%3Bsource%3Dembed%26amp%3Bhl%3Dfr%26amp%3Bgeocode%3D%26amp%3Bq%3DFEDERATION%2BHIERO%2B%25E2%2580%2593%2BNOUMATROUFF%2B57%2C%2Brue%2Bde%2Bla%2BMertzau%2B68063%2BMULHOUSE%2BCEDEX%26amp%3Baq%3D%26amp%3Bsll%3D47.760933%2C7.334348%26amp%3Bsspn%3D0.00828%2C0.021136%26amp%3Bg%3D57%2C%2Brue%2Bde%2Bla%2BMertzau%2B68063%2BMULHOUSE%2BCEDEX%26amp%3Bie%3DUTF8%26amp%3Bhq%3DFEDERATION%2BHIERO%2B%25E2%2580%2593%2BNOUMATROUFF%2B57%2C%2Brue%2Bde%2Bla%2BMertzau%2B68063%2BMULHOUSE%2BCEDEX%26amp%3Bhnear%3D%26amp%3Bradius%3D15000%26amp%3Bt%3Dm%26amp%3Bcid%3D6684679149735206464%26amp%3Bll%3D47.771407%2C7.336035%26amp%3Bspn%3D0.02019%2C0.036478%26amp%3Bz%3D14%26amp%3Biwloc%3DA"></div>
</div>
{% endblock %}