{% extends "::layout.html.twig" %}

{% block body %}

<header>
  <aside>
    <ul class="breadcrumb">
      <li><a href="{{ path('_welcome') }}">Accueil</a></li>
      <li><a href="{{ path('billeterie') }}">Billeterie</a></li>
    </ul>
  </aside>
  <h1>Félicitation !</h1>
</header>

<div class="alert alert-info alert-block">
  <p style="text-align: center">
    Vous allez être rediriger dans quelques secondes vers <a href="{{ url }}">le site de paiement</a>.

    <br /><br />

    <a href="#" onclick="javascript:window.open('https://www.paypal.com/fr/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal.com/fr_FR/FR/i/logo/PayPal_mark_50x34.gif" border="0" alt="Payer avec Paypal" /></a>
  </p>
</div>

{% endblock %}